## Data Preprocessing- Merge flats and houses data
### @cipher499
### 11/12/23

In [1]:
import pandas as pd

In [28]:
# setting to display all the columns and rows in the data
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [29]:
# load both the datasets into dataframes
df_flats = pd.read_csv('flats_cleaned.csv')
df_houses = pd.read_csv('houses_cleaned.csv')

In [30]:
df_flats.head()

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedrooms,bathrooms,balconies,additional_room,address,floor_num,facing,age_possession,nearby_locations,description,furnish_details,features,rating
0,2 BHK Flat in Krishna Colony,flat,maa bhagwati residency,0.45,5000.0,900.0,Carpet area: 900 (83.61 sq.m.),2,2,1,not available,"Krishna Colony, Gurgaon, Haryana",4.0,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,2 BHK Flat in Ashok Vihar,flat,apna enclave,0.50,7692.0,650.0,Carpet area: 650 (60.39 sq.m.),2,2,1,not available,"46b, Ashok Vihar, Gurgaon, Haryana",1.0,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ..."
2,2 BHK Flat in Sohna,flat,tulsiani easy in homes,0.40,6722.0,595.0,Carpet area: 595 (55.28 sq.m.),2,2,3,not available,"Sohna, Gurgaon, Haryana",12.0,NaN,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ..."
3,2 BHK Flat in Sector 61 Gurgaon,flat,smart world orchard,1.47,12250.0,1200.0,Carpet area: 1200 (111.48 sq.m.),2,2,2,study room,"Sector 61 Gurgaon, Gurgaon, Haryana",2.0,NaN,2023-12-01 00:00:00,"['Sector 55-56 Metro station', 'Bestech Centra...",Near to metro station of sector 56 and opposit...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...",NaN
4,2 BHK Flat in Sector 92 Gurgaon,flat,parkwood westend,0.70,5204.0,1345.0,Super Built up area 1345(124.95 sq.m.),2,2,3,study room,"Sector 92 Gurgaon, Gurgaon, Haryana",5.0,NaN,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",We are the proud owners of this 2 bhk alongwit...,[],NaN,"['Environment5 out of 5', 'Safety3 out of 5', ..."

In [31]:
df_flats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2997 entries, 0 to 2996
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   property_name     2997 non-null   object
 1   property_type     2997 non-null   object
 2   society           2996 non-null   object
 3   price             2996 non-null   float64
 4   price_per_sqft    2996 non-null   float64
 5   area              2996 non-null   float64
 6   areaWithType      2997 non-null   object
 7   bedrooms          2997 non-null   int64
 8   bathrooms         2997 non-null   int64
 9   balconies         2997 non-null   object
 10  additional_room   2997 non-null   object
 11  address           2991 non-null   object
 12  floor_num         2995 non-null   float64
 13  facing            2123 non-null   object
 14  age_possession    2996 non-null   object
 15  nearby_locations  2906 non-null   object
 16  description       2997 non-null   object
 17  furnish_details   2200 non-null   object
 18  features          2590 non-null   object
 19  rating            2668 non-null   object
dtypes: float64(4), int64(2), object(14)
memory usage: 468.4+ KB

In [32]:
df_houses.head()

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedrooms,bathrooms,balconies,additional_room,address,floor_num,facing,age_possession,nearby_locations,description,furnish_details,features,rating
0,5 Bedroom House for sale in Sector 70A Gurgaon,house,bptp visionnaire,5.25,20115.0,2610.0,Plot area 290(242.48 sq.m.),5,4,3+,servant room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3.0,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
1,5 Bedroom House for sale in Sector 21A Faridabad,house,NaN,5.70,105751.0,539.0,Plot area 539(50.07 sq.m.),5,4,2,"store room,pooja room,servant room","Sector 21A Faridabad, Gurgaon, Haryana",2.0,NaN,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN
2,10 Bedroom House for sale in Sushant Lok Phase 1,house,NaN,2.10,38251.0,549.0,Plot area 61(51 sq.m.),10,10,3+,servant room,"Sushant Lok Phase 1, Gurgaon, Haryana",5.0,West,0 to 1 Year Old,"['Sector 42-43 metro station', 'Huda city cent...","Monthly rental income is rs1,40,000/- Best opt...","['10 Bed', '3 Fan', '10 Geyser', '2 Light', 'N...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."
3,21 Bedroom House for sale in Sector 54 Gurgaon,house,NaN,5.00,43066.0,1161.0,Plot area 129(107.86 sq.m.),21,21,3+,servant room,"Sector 54 Gurgaon, Gurgaon, Haryana",5.0,North,1 to 5 Year Old,"['Sector 53-54 metro station', 'Sector 54 chow...","129 sq yd plot size. 5 floors built up , fully...","['1 Water Purifier', '21 Fan', '1 Fridge', '1 ...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4 out of 5', 'Lifestyle5 out of 5..."
4,12 Bedroom House for sale in Sushant Lok Phase 1,house,NaN,3.00,53763.0,558.0,Plot area 62(51.84 sq.m.),12,12,3+,others,"1228, Sushant Lok Phase 1, Gurgaon, Haryana",5.0,West,Within 6 months,"['Sector 42-43 metro station', 'Huda city cent...",Best for investment purpose. Fully furnished b...,"['1 Water Purifier', '1 Fridge', '12 Fan', '1 ...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."

In [33]:
df_houses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 964 entries, 0 to 963
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   property_name     964 non-null    object
 1   property_type     964 non-null    object
 2   society           395 non-null    object
 3   price             945 non-null    float64
 4   price_per_sqft    945 non-null    float64
 5   area              945 non-null    float64
 6   areaWithType      964 non-null    object
 7   bedrooms          964 non-null    int64
 8   bathrooms         964 non-null    int64
 9   balconies         964 non-null    object
 10  additional_room   964 non-null    object
 11  address           959 non-null    object
 12  floor_num         945 non-null    float64
 13  facing            661 non-null    object
 14  age_possession    964 non-null    object
 15  nearby_locations  848 non-null    object
 16  description       964 non-null    object
 17  furnish_details   729 non-null    object
 18  features          662 non-null    object
 19  rating            843 non-null    object
dtypes: float64(4), int64(2), object(14)
memory usage: 150.8+ KB

In [34]:
# as the columns are same, concatenate both the dataframes
df = pd.concat([df_flats, df_houses], ignore_index=True)
df.shape

(3961, 20)

In [35]:
# shuffle the rows of the concatenated df
df = df.sample(frac=1.0, random_state=42,ignore_index=True)
df.head(5)

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedrooms,bathrooms,balconies,additional_room,address,floor_num,facing,age_possession,nearby_locations,description,furnish_details,features,rating
0,3 BHK Flat in Sector 65 Gurgaon,flat,m3m heights,2.50,13600.0,1838.0,Super Built up area 1828(169.83 sq.m.),3,3,3,not available,"Sector 65 Gurgaon, Gurgaon, Haryana",19.0,NaN,2024-12-01 00:00:00,"['Rapid Metro Sector 56', 'M3m 65th Avenue Mal...",We are the proud owners of this 3 bhk apartmen...,[],NaN,"['Environment4 out of 5', 'Safety4 out of 5', ..."
1,4 BHK Flat in Sector 48 Gurgaon,flat,bestech park view city,2.65,10323.0,2567.0,Super Built up area 2567(238.48 sq.m.)Carpet a...,4,4,3+,"study room,servant room","1101, Sector 48 Gurgaon, Gurgaon, Haryana",11.0,North-East,5 to 10 Year Old,"['Rapid Metro Sector 56', 'Sapphire Mall', 'Om...",This lovely 4 bhk apartment/flat in sector 48 ...,"['4 Wardrobe', '1 Water Purifier', '8 Fan', '1...","['Centrally Air Conditioned', 'Water purifier'...","['Green Area5 out of 5', 'Construction4 out of..."
2,2 BHK Flat in Sector 85 Gurgaon,flat,ss the leaf,1.20,7317.0,1640.0,Super Built up area 1640(152.36 sq.m.)Built Up...,2,2,3,not available,"704, Sector 85 Gurgaon, Gurgaon, Haryana",6.0,North,1 to 5 Year Old,"['Sapphire 83 Mall', 'Dwarka Expressway', 'Cen...",This lovely 2 bhk apartment/flat in sector 85 ...,"['3 Wardrobe', '9 Fan', '1 Exhaust Fan', '3 Ge...","['Water purifier', 'Centrally Air Conditioned'...","['Green Area4.5 out of 5', 'Construction4.5 ou..."
3,3 BHK Flat in Sector 107 Gurgaon,flat,signature global solera,0.52,8062.0,645.0,Carpet area: 645 (59.92 sq.m.),3,2,2,others,"Sector 107 Gurgaon, Gurgaon, Haryana",5.0,East,1 to 5 Year Old,"['Gurgaon Dreamz Mall', 'Dwarka Expressway', ""...","Situated in sector 107 gurgaon, signature glob...","['3 Wardrobe', '4 Fan', '6 Light', 'No AC', 'N...","['Intercom Facility', 'Lift(s)', 'Park']","['Green Area4.5 out of 5', 'Construction4.5 ou..."
4,2 BHK Flat in Sohna,flat,signature global park,0.54,7248.0,745.0,Carpet area: 745 (69.21 sq.m.),2,1,3,not available,"J-26, Sohna, Gurgaon, Haryana",1.0,NaN,Within 6 months,"['Sector 55-56 metro', 'Global city centre', '...",Park facing property for the unique view,"['1 Modular Kitchen', 'No AC', 'No Bed', 'No C...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Green Area5 out of 5', 'Construction5 out of..."

In [36]:
# flats vs houses
df.property_type.value_counts()

flat     2997
house     964
Name: property_type, dtype: int64

In [37]:
# create a new column to store the sector information of the property
df.insert(loc=3, column='sector', value=df['property_name'].str.split('in').str.get(1).str.replace('Gurgaon', '').str.lower().str.strip())
df.sample(5)

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedrooms,bathrooms,balconies,additional_room,address,floor_num,facing,age_possession,nearby_locations,description,furnish_details,features,rating
2140,2 BHK Flat in Sector 37C Gurgaon,flat,ild grand,sector 37c,0.66,5038.0,1310.0,Built Up area: 1310 (121.7 sq.m.),2,2,3+,not available,"Sector 37c, Delhi Gurgaon Expressway, Sector 3...",14.0,NaN,undefined,"['The Esplanade Mall', 'Dwarka Expy, Sector 88...",It is a 2 bed room apartment located in ild gr...,NaN,NaN,"['Environment5 out of 5', 'Safety4 out of 5', ..."
1252,2 BHK Flat in Sector 99A Gurgaon,flat,prime habitat,sector 99a,0.27,6049.0,446.0,Carpet area: 448 (41.62 sq.m.),2,2,1,not available,"Sector 99A Gurgaon, Gurgaon, Haryana",10.0,South,1 to 5 Year Old,"['The Hive Mall', 'Omaxe Gurgaon Mall', 'Gurug...",This lovely 2 bhk apartment/flat in sector 99a...,NaN,"['Security / Fire Alarm', 'Lift(s)', 'Maintena...","['Environment4 out of 5', 'Lifestyle3 out of 5..."
1247,3 BHK Flat in Sector 109 Gurgaon,flat,ats tourmaline,sector 109,1.40,8000.0,1750.0,Super Built up area 1750(162.58 sq.m.)Built Up...,3,3,3+,store room,"8th Floor, Sector 109 Gurgaon, Gurgaon, Haryana",8.0,North-East,1 to 5 Year Old,"['Dwarka Sector 21 Metro Station', 'NeoSquare ...",Ats tourmaline is one of the most popular dest...,"['1 Modular Kitchen', 'No AC', 'No Bed', 'No C...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Green Area4.5 out of 5', 'Construction4.5 ou..."
3469,3 BHK Flat in Sector 90 Gurgaon,flat,dlf regal gardens,sector 90,1.25,10416.0,1200.0,Super Built up area 1702(158.12 sq.m.)Carpet a...,3,3,3,servant room,"136, Sector 90 Gurgaon, Gurgaon, Haryana",18.0,North,5 to 10 Year Old,"['SS Omnia, Sector 86', 'Numberdar market, IMT...",Dlf regal gardens is one of the most popular d...,NaN,"['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Green Area5 out of 5', 'Construction4.5 out ..."
809,7 Bedroom House for sale in Sector 48 Gurgaon,house,eldeco mansionz,sector 48,4.95,20599.0,2403.0,Plot area 267(223.25 sq.m.),7,7,3+,"pooja room,study room,servant room,store room","111, Sector 48 Gurgaon, Gurgaon, Haryana",2.0,South,10+ Year Old,"['Sri Radhe Krishna Temple', 'Icici bank ATM',...",This 7 bhk house for sale in sector 48 gurgaon...,"['11 Fan', '1 Exhaust Fan', '6 Geyser', '30 Li...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Environment4 out of 5', 'Safety4 out of 5', ..."

In [38]:
# list all the categories in the sector column
df.sector.value_counts()

sohna                                                        163
sector 102                                                   113
sector 85                                                    110
sector 92                                                    104
sector 69                                                     94
sector 65                                                     90
sector 81                                                     90
sector 90                                                     90
sector 109                                                    88
sector 79                                                     80
sector 83                                                     69
sector 37d                                                    68
sector 86                                                     67
sector 104                                                    66
sector 107                                                    60
sector 108                                                    59
sector 56                                                     57
sector 95                                                     57
sector 89                                                     56
sector 48                                                     56
sector 70a                                                    54
sector 37c                                                    53
nirvana country                                               53
sector 70                                                     53
sector-33 sohna                                               51
sector 84                                                     51
palam vihar                                                   50
sector 67                                                     48
sector 66                                                     46
sector 103                                                    45
dlf phase 1                                                   43
dlf phase 2                                                   43
sector 113                                                    43
sector 61                                                     42
sector 82                                                     42
sector 106                                                    38
sector 49                                                     36
sector 99a                                                    32
sushant lok phase 1                                           31
sector 68                                                     30
sector 72                                                     29
sector 77                                                     29
sector 71                                                     27
sector 54                                                     27
laxman vihar                                                  27
dlf phase 4                                                   26
sector 112                                                    24
sector 88a                                                    23
sector 33                                                     23
dlf phase 3                                                   22
sector 67a                                                    22
sector 111                                                    22
sector 82a                                                    20
sector 22                                                     20
sector 78                                                     19
sector 74                                                     18
sector 63a                                                    18
sector 62                                                     17
sector 91                                                     17
sector 99                                                     16
sushant lok phase 3                                           16
sector 110                                                    16
sector 60                                                     15
sector 14                                                     15
sector 63                                                     15
rajendra park                                                 14
gwal pahari                                                   14
sector 1 imt manesar                                          14
sector 53                                                     14
sector 52                                                     14
sector 3                                                      14
dlf phase 5                                                   14
sector 76                                                     14
sector 46                                                     13
laxman vihar phase 2                                          13
sector 36a                                                    13
sector 38                                                     12
sohna road                                                    12
sector 31                                                     12
sector 93                                                     12
uppals southend                                               12
sector 50                                                     12
sector 39                                                     12
ashok vihar phase 3 extension                                 11
sector 47                                                     11
sector 9a                                                     11
sector 1a imt manesar                                         10
sector 7                                                      10
south city 1                                                   9
ashok vihar phase 2                                            9
sector 4                                                       9
sector 55                                                      9
sector 95a                                                     9
mehrauli  road                                                 8
sector 59                                                      8
sector 57                                                      8
palam vihar extension                                          8
sector 89 a                                                    8
sector 40                                                      8
malibu town                                                    8
dwarka expressway                                              8
c block sushant lok phase 1                                    8
sector 43                                                      8
sector 10a                                                     8
mianwali colony                                                7
new colony                                                     7
sector 58                                                      7
surat nagar 1                                                  7
sector 51                                                      7
sector 26                                                      7
sector 36 sohna                                                7
sector 11                                                      7
sector 1                                                       6
jacobpura                                                      6
sector 5                                                       6
ashok vihar                                                    6
rajiv nagar                                                    6
jyoti park                                                     6
sector 80                                                      5
manesar                                                        5
arjun nagar                                                    5
sector 23a                                                     5
dayanand colony                                                5
sector 105                                                     5
sector 30                                                      5
greenwood city                                                 5
sector 28                                                      5
chakkarpur                                                     5
sector 2                                                       5
sushant lok phase 2                                            5
new palam vihar                                                5
ansal plaza                                                    5
saraswati vihar                                                5
subhash nagar                                                  5
sector 9                                                       5
devilal colony                                                 4
madanpuri                                                      4
sector 36                                                      4
sector 45                                                      4
new                                                            4
sector 6                                                       4
krishna colony                                                 4
vishnu garden                                                  4
adarsh nagar                                                   4
sector 12a                                                     4
ravi nagar                                                     4
valley view estate                                             4
shivaji nagar                                                  4
sector 12                                                      4
sector 3a                                                      4
imt manesar                                                    4
baldev nagar                                                   4
suncity                                                        4
bhim nagar                                                     4
bhondsi                                                        4
garhi harsaru                                                  4
dharam colony                                                  4
sector 17                                                      4
shivpuri                                                       4
surya vihar                                                    4
b block sushant lok phase 1                                    3
prem nagar                                                     3
sector 88b                                                     3
laxmi garden                                                   3
sector 110 a                                                   3
sector 73                                                      3
patel nagar                                                    3
sector 17b                                                     3
sector 17a                                                     3
sector 27                                                      3
sector 23                                                      3
sector 15                                                      3
sector 8                                                       3
maruti kunj                                                    3
shakti nagar                                                   3
mg road                                                        3
a block sushant lok phase 1                                    3
gandhi nagar                                                   3
sector 15 part 1                                               2
sector-11 sohna                                                2
golf course ext road                                           2
sheetla colony                                                 2
shanti nagar                                                   2
new palam vihar phase 1                                        2
shankar vihar                                                  2
acharya puri                                                   2
sispal vihar                                                   2
sector 24                                                      2
daulatabad                                                     2
new palam vihar phase 2                                        2
sushant lok                                                    2
mohan nagar                                                    2
golf course road                                               2
block a surya vihar                                            2
ambience island                                                2
faridabad road                                                 2
surat nagar                                                    2
surat nagar phase 2                                            2
lajpat nagar                                                   2
new basti                                                      2
sector 21                                                      2
farukhnagar                                                    2
hira nagar                                                     2
sector 41                                                      2
sector 15 part 2                                               2
samaspur                                                       2
pratap nagar                                                   2
bhawani enclave                                                2
bissar                                                         2
west rajiv nagar                                               2
sector-2 sohna                                                 2
rosewood                                                       2
mayfield garden                                                2
sector 32                                                      2
nars                                                           2
manohar nagar                                                  2
sohna  road                                                    2
rajiv chowk                                                    2
iffco chowk                                                    2
, delhi ncr                                                    2
ats marigold                                                   1
park view                                                      1
sector 13                                                      1
udyog vihar phase 1                                            1
sadar bazar                                                    1
new colony, sector 7                                           1
kheri                                                          1
jacobpura near sadar bazar                                     1
part 3 sector 5                                                1
mahavir pura                                                   1
sector 37b                                                     1
block g sector-57                                              1
alipur                                                         1
sultanpur                                                      1
godrej aria , sector 79 ,                                      1
b1 block sector 57                                             1
ravi nager basai road                                          1
civil l                                                        1
ram nagar                                                      1
sector 9b                                                      1
rattan garden                                                  1
sector-5 sohna                                                 1
new jyoti park                                                 1
damdma                                                         1
huda saraswati vihar                                           1
sai kunj                                                       1
old delhi road, opp sector-14                                  1
urban estate, sector 5                                         1
laxman vihar, railway road,                                    1
sector 42                                                      1
sec 3 bhim vihar part 1 bhimgher kheri                         1
shivji park colony                                             1
sector-5 sheetla colony                                        1
g block dlf city phase 1                                       1
jat colony,fazilpur/taj nagar road                             1
mahalaxmi garden, rajendra place                               1
cyber city                                                     1
saraswati enclave                                              1
anand garden, sector-105                                       1
ansal's palam vihar                                            1
garauli kalan                                                  1
nirvana country pocket h                                       1
bptp                                                           1
lucknow                                                        1
begampur khatola                                               1
om nagar                                                       1
ashok vihar phase i                                            1
kanahi                                                         1
near nand hospital                                             1
sector-35 sohna                                                1
pataudi road                                                   1
hsiidc plot sector 1 imt manesar                               1
sector 4 urban estate                                          1
v block dlf phase 3                                            1
gopal nagar, garhi ghasita, sonipat                            1
sector 21a faridabad                                           1
heritage city                                                  1
near pataudi chowk                                             1
naharpur rupa                                                  1
near euro                                                      1
rajiv colony                                                   1
tekchand nagar                                                 1
hno 13 sagar enclave sura                                      1
sector 5 chowk                                                 1
near khandsa road                                              1
bhora kalan                                                    1
dhankot                                                        1
saroop garden rajendra park                                    1
bhimgarh kheri phase 3                                         1
ashok vihar phase 3                                            1
south city                                                     1
sector 37a                                                     1
vir nagar                                                      1
sector-7 hous                                                  1
khandsa                                                        1
laxmna vihar, phase 2                                          1
block h ashok vihar phase iii extension                        1
devi lal colony gali no 12 gurgaon nr omkar public school      1
near sector 1 market                                           1
carterpuri village                                             1
sector 17c                                                     1
Name: sector, dtype: int64

### To clean this column, we'll have to manually check the sector for the rows in which it is not mentioned and then perform a replace operation:

In [39]:
df['sector'] = df['sector'].str.replace('dharam colony','sector 12')
df['sector'] = df['sector'].str.replace('krishna colony','sector 7')
df['sector'] = df['sector'].str.replace('suncity','sector 54')
df['sector'] = df['sector'].str.replace('prem nagar','sector 13')
df['sector'] = df['sector'].str.replace('mg road','sector 28')
df['sector'] = df['sector'].str.replace('gandhi nagar','sector 28')
df['sector'] = df['sector'].str.replace('laxmi garden','sector 11')
df['sector'] = df['sector'].str.replace('shakti nagar','sector 11')
df['sector'] = df['sector'].str.replace('baldev nagar','sector 7')
df['sector'] = df['sector'].str.replace('shivpuri','sector 7')
df['sector'] = df['sector'].str.replace('garhi harsaru','sector 17')
df['sector'] = df['sector'].str.replace('imt manesar','manesar')
df['sector'] = df['sector'].str.replace('adarsh nagar','sector 12')
df['sector'] = df['sector'].str.replace('shivaji nagar','sector 11')
df['sector'] = df['sector'].str.replace('bhim nagar','sector 6')
df['sector'] = df['sector'].str.replace('madanpuri','sector 7')
df['sector'] = df['sector'].str.replace('saraswati vihar','sector 28')
df['sector'] = df['sector'].str.replace('arjun nagar','sector 8')
df['sector'] = df['sector'].str.replace('ravi nagar','sector 9')
df['sector'] = df['sector'].str.replace('vishnu garden','sector 105')
df['sector'] = df['sector'].str.replace('bhondsi','sector 11')
df['sector'] = df['sector'].str.replace('surya vihar','sector 21')
df['sector'] = df['sector'].str.replace('devilal colony','sector 9')
df['sector'] = df['sector'].str.replace('valley view estate','gwal pahari')
df['sector'] = df['sector'].str.replace('mehrauli  road','sector 14')
df['sector'] = df['sector'].str.replace('jyoti park','sector 7')
df['sector'] = df['sector'].str.replace('ansal plaza','sector 23')
df['sector'] = df['sector'].str.replace('dayanand colony','sector 6')
df['sector'] = df['sector'].str.replace('sushant lok phase 2','sector 55')
df['sector'] = df['sector'].str.replace('chakkarpur','sector 28')
df['sector'] = df['sector'].str.replace('greenwood city','sector 45')
df['sector'] = df['sector'].str.replace('subhash nagar','sector 12')
df['sector'] = df['sector'].str.replace('sohna road road','sohna road')
df['sector'] = df['sector'].str.replace('malibu town','sector 47')
df['sector'] = df['sector'].str.replace('surat nagar 1','sector 104')
df['sector'] = df['sector'].str.replace('new colony','sector 7')
df['sector'] = df['sector'].str.replace('mianwali colony','sector 12')
df['sector'] = df['sector'].str.replace('jacobpura','sector 12')
df['sector'] = df['sector'].str.replace('rajiv nagar','sector 13')
df['sector'] = df['sector'].str.replace('ashok vihar','sector 3')
df['sector'] = df['sector'].str.replace('dlf phase 1','sector 26')
df['sector'] = df['sector'].str.replace('nirvana country','sector 50')
df['sector'] = df['sector'].str.replace('palam vihar','sector 2')
df['sector'] = df['sector'].str.replace('dlf phase 2','sector 25')
df['sector'] = df['sector'].str.replace('sushant lok phase 1','sector 43')
df['sector'] = df['sector'].str.replace('laxman vihar','sector 4')
df['sector'] = df['sector'].str.replace('dlf phase 4','sector 28')
df['sector'] = df['sector'].str.replace('dlf phase 3','sector 24')
df['sector'] = df['sector'].str.replace('sushant lok phase 3','sector 57')
df['sector'] = df['sector'].str.replace('dlf phase 5','sector 43')
df['sector'] = df['sector'].str.replace('rajendra park','sector 105')
df['sector'] = df['sector'].str.replace('uppals southend','sector 49')
df['sector'] = df['sector'].str.replace('sohna','sohna road')
df['sector'] = df['sector'].str.replace('ashok vihar phase 3 extension','sector 5')
df['sector'] = df['sector'].str.replace('south city 1','sector 41')
df['sector'] = df['sector'].str.replace('ashok vihar phase 2','sector 5')

In [40]:
# drop the rows for which the frequency of the sector is less than or equal to 3
a = df['sector'].value_counts()[df['sector'].value_counts() >= 3]
df = df[df['sector'].isin(a.index)]

In [41]:
df.sector.value_counts()

sohna road                    163
sector 102                    113
sector 85                     110
sector 92                     104
sector 69                      94
sector 81                      90
sector 90                      90
sector 65                      90
sector 109                     88
sector 79                      80
sector 104                     73
sector 83                      69
sector 37d                     68
sector 86                      67
sector 50                      65
sector 107                     60
sector 108                     59
sector 95                      57
sector 56                      57
sector 48                      56
sector 89                      56
sector 2                       55
sector 70a                     54
sector 70                      53
sector 43                      53
sector 37c                     53
sector 84                      51
sector-33 sohna road           51
sector 26                      50
sector 49                      48
sector 67                      48
sector 28                      47
sector 66                      46
sector 103                     45
sector 25                      43
sector 113                     43
sector 61                      42
sector 82                      42
sector 7                       39
sector 106                     38
sector 4                       36
sector 99a                     32
sector 54                      31
sector 68                      30
sector 12                      30
sector 72                      29
sector 77                      29
sector 71                      27
sector 57                      24
sector 24                      24
sector 112                     24
sector 33                      23
sector 105                     23
sector 88a                     23
sector 14                      23
sector 111                     22
sector 67a                     22
sector 11                      21
sector 22                      20
sector 3                       20
sector 82a                     20
sector 78                      19
sector 47                      19
sector 63a                     18
gwal pahari                    18
sector 74                      18
sector 62                      17
sector 91                      17
sector 110                     16
sector 99                      16
sector 60                      15
sector 63                      15
sector 53                      14
sector 1 manesar               14
sector 76                      14
sector 55                      14
sector 52                      14
sector 36a                     13
sector 46                      13
sector 4 phase 2               13
sector 6                       13
sector 9                       13
sector 31                      12
sohna road road                12
sector 38                      12
sector 93                      12
sector 39                      12
sector 41                      11
sector 3 phase 3 extension     11
sector 9a                      11
sector 13                      10
sector 1a manesar              10
sector 45                       9
sector 3 phase 2                9
sector 95a                      9
manesar                         9
sector 8                        8
sector 23                       8
sector 89 a                     8
sector 40                       8
sector 17                       8
sector 10a                      8
dwarka expressway               8
sector 2 extension              8
sector 59                       8
c block sector 43               8
sector 36 sohna road            7
sector 58                       7
sector 51                       7
sector 5                        6
sector 21                       6
sector 1                        6
sector 30                       5
sector 23a                      5
new sector 2                    5
sector 80                       5
sector 12a                      4
sector 3a                       4
new                             4
sector 36                       4
sector 27                       3
a block sector 43               3
patel nagar                     3
sector 17a                      3
sector 73                       3
sector 110 a                    3
sector 17b                      3
sector 15                       3
b block sector 43               3
sector 88b                      3
maruti kunj                     3
Name: sector, dtype: int64

In [42]:
df['sector'] = df['sector'].str.replace('sector 95a','sector 95')
df['sector'] = df['sector'].str.replace('sector 23a','sector 23')
df['sector'] = df['sector'].str.replace('sector 12a','sector 12')
df['sector'] = df['sector'].str.replace('sector 3a','sector 3')
df['sector'] = df['sector'].str.replace('sector 110 a','sector 110')
df['sector'] = df['sector'].str.replace('patel nagar','sector 15')
df['sector'] = df['sector'].str.replace('a block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('maruti kunj','sector 12')
df['sector'] = df['sector'].str.replace('b block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('sector-33 sohna road','sector 33')
df['sector'] = df['sector'].str.replace('sector 1 manesar','manesar')
df['sector'] = df['sector'].str.replace('sector 4 phase 2','sector 4')
df['sector'] = df['sector'].str.replace('sector 1a manesar','manesar')
df['sector'] = df['sector'].str.replace('c block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('sector 89 a','sector 89')
df['sector'] = df['sector'].str.replace('sector 2 extension','sector 2')
df['sector'] = df['sector'].str.replace('sector 36 sohna road','sector 36')

In [43]:
df[df['sector'] == 'new']

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedrooms,bathrooms,balconies,additional_room,address,floor_num,facing,age_possession,nearby_locations,description,furnish_details,features,rating
641,4 BHK Flat in New Gurgaon,flat,dlf 76,new,4.00,11428.0,3500.0,Carpet area: 3500 (325.16 sq.m.),4,4,2,"study room,servant room","New Gurgaon, Gurgaon, Haryana",4.0,NaN,2027-06-01 00:00:00,"['Shri Balaji Hospital and Trauma Center', 'S....",This lovely 4 bhk apartment/flat in new gurgao...,"['6 Wardrobe', '1 Fridge', '8 Fan', '1 Exhaust...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...",NaN
797,2 BHK Flat in New Gurgaon,flat,takshila heights sector 37 c,new,0.67,5583.0,1200.0,Super Built up area 1200(111.48 sq.m.),2,2,2,not available,"New Gurgaon, Gurgaon, Haryana",3.0,NaN,1 to 5 Year Old,"['Shri Balaji Hospital and Trauma Center', 'S....",Check out this 2 bhk apartment for sale in tak...,[],"['Lift(s)', 'Swimming Pool', 'Visitor Parking'...",NaN
2972,2 BHK Flat in New Gurgaon,flat,green court,new,0.38,5507.0,690.0,Carpet area: 690 (64.1 sq.m.),2,2,1,not available,"New Gurgaon, Gurgaon, Haryana",7.0,NaN,Under Construction,"['Ing bank ATM', 'Dcb bank ATM', 'Indus ind ba...",We are the proud owners of this 2 bhk apartmen...,[],"['Intercom Facility', 'Lift(s)', 'Maintenance ...",NaN
3210,4 BHK Flat in New Gurgaon,flat,sare homes,new,0.85,4786.0,1776.0,Super Built up area 1776(165 sq.m.),4,4,3,not available,"New Gurgaon, Gurgaon, Haryana",3.0,NaN,5 to 10 Year Old,"['Columbia Asia Hospital', 'Apex Multi Special...",Located in the popular residential address of ...,[],NaN,NaN

In [44]:
df.loc[641,'sector'] = 'sector 37'
df.loc[797,'sector'] = 'sector 92'
df.loc[2972,'sector'] = 'sector 90'
df.loc[3210,'sector'] = 'sector 76'

In [45]:
df[df['sector'] == 'new sector 2']

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedrooms,bathrooms,balconies,additional_room,address,floor_num,facing,age_possession,nearby_locations,description,furnish_details,features,rating
517,2 BHK Flat in New Palam Vihar,flat,ompee k s residency,new sector 2,1.60,26936.0,594.0,Carpet area: 66 (55.18 sq.m.),2,2,2,not available,"New Palam Vihar, Gurgaon, Haryana",1.0,NaN,1 to 5 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",We are the proud owners of this 2 bhk apartmen...,NaN,NaN,"['Environment4 out of 5', 'Safety4 out of 5', ..."
737,2 BHK Flat in New Palam Vihar,flat,my home,new sector 2,0.28,3166.0,884.0,Carpet area: 900 (83.61 sq.m.),2,1,1,others,"F 150/b, New Palam Vihar, Gurgaon, Haryana",2.0,NaN,1 to 5 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...","2 bhk room with wooden coverd ,1 drawing room,...","['3 Wardrobe', '5 Light', '1 Chimney', '1 Modu...","['Water Storage', 'Park']","['Environment4 out of 5', 'Safety4 out of 5', ..."
1528,3 Bedroom House for sale in New Palam Vihar,house,NaN,new sector 2,1.00,8796.0,1137.0,Plot area 120(100.34 sq.m.)Built Up area: 120 ...,3,2,2,pooja room,"Q-148, New Palam Vihar, Phase-2, Near Royal Oa...",1.0,North,10+ Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...","Ground and first floor, Ground floor: Ground f...",NaN,NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
2611,2 Bedroom House for sale in New Palam Vihar,house,my home,new sector 2,0.34,12592.0,270.0,Plot area 270(25.08 sq.m.),2,2,2,not available,"Ez-19 A, New Palam Vihar, Gurgaon, Haryana",3.0,West,5 to 10 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",There are availability of various facilities l...,"['1 Wardrobe', '3 Fan', '6 Light', 'No AC', 'N...","['Water Storage', 'Park', 'Visitor Parking']","['Environment4 out of 5', 'Lifestyle4 out of 5..."
3781,2 BHK Flat in New Palam Vihar,flat,my home,new sector 2,0.22,4400.0,500.0,Carpet area: 500 (46.45 sq.m.),2,2,1,not available,"New Palam Vihar, Gurgaon, Haryana",1.0,NaN,0 to 1 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",Cctv surveillance are provided here. There is ...,"['3 Fan', '1 Exhaust Fan', '15 Light', '1 Modu...",NaN,"['Safety4 out of 5', 'Lifestyle4 out of 5', 'E..."

In [46]:
df.loc[[517,737,1528,2611,3781],'sector'] = 'sector 110'

In [47]:
df.shape

(3803, 21)

In [50]:
df.sector.value_counts()

sohna road                    175
sector 102                    113
sector 85                     110
sector 92                     105
sector 69                      94
sector 90                      91
sector 65                      90
sector 81                      90
sector 109                     88
sector 79                      80
sector 33                      74
sector 104                     73
sector 83                      69
sector 37d                     68
sector 43                      67
sector 86                      67
sector 95                      66
sector 50                      65
sector 89                      64
sector 2                       63
sector 107                     60
sector 108                     59
sector 56                      57
sector 48                      56
sector 70a                     54
sector 37c                     53
sector 70                      53
sector 84                      51
sector 26                      50
sector 4                       49
sector 49                      48
sector 67                      48
sector 28                      47
sector 66                      46
sector 103                     45
sector 25                      43
sector 113                     43
sector 61                      42
sector 82                      42
sector 7                       39
sector 106                     38
sector 12                      37
manesar                        33
sector 99a                     32
sector 54                      31
sector 68                      30
sector 77                      29
sector 72                      29
sector 71                      27
sector 57                      24
sector 3                       24
sector 110                     24
sector 112                     24
sector 24                      24
sector 105                     23
sector 14                      23
sector 88a                     23
sector 67a                     22
sector 111                     22
sector 11                      21
sector 82a                     20
sector 22                      20
sector 47                      19
sector 78                      19
gwal pahari                    18
sector 63a                     18
sector 74                      18
sector 62                      17
sector 91                      17
sector 99                      16
sector 60                      15
sector 76                      15
sector 63                      15
sector 52                      14
sector 55                      14
sector 53                      14
sector 23                      13
sector 6                       13
sector 9                       13
sector 46                      13
sector 36a                     13
sector 39                      12
sector 38                      12
sector 93                      12
sector 31                      12
sector 9a                      11
sector 36                      11
sector 41                      11
sector 3 phase 3 extension     11
sector 13                      10
sector 45                       9
sector 3 phase 2                9
dwarka expressway               8
sector 10a                      8
sector 40                       8
sector 8                        8
sector 59                       8
sector 17                       8
sector 58                       7
sector 51                       7
sector 15                       6
sector 5                        6
sector 21                       6
sector 1                        6
sector 80                       5
sector 30                       5
sector 17a                      3
sector 88b                      3
sector 17b                      3
sector 73                       3
sector 27                       3
sector 37                       1
Name: sector, dtype: int64

In [49]:
df['sector'] = df['sector'].replace('sohna road road', 'sohna road')

In [51]:
df.head()

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedrooms,bathrooms,balconies,additional_room,address,floor_num,facing,age_possession,nearby_locations,description,furnish_details,features,rating
0,3 BHK Flat in Sector 65 Gurgaon,flat,m3m heights,sector 65,2.50,13600.0,1838.0,Super Built up area 1828(169.83 sq.m.),3,3,3,not available,"Sector 65 Gurgaon, Gurgaon, Haryana",19.0,NaN,2024-12-01 00:00:00,"['Rapid Metro Sector 56', 'M3m 65th Avenue Mal...",We are the proud owners of this 3 bhk apartmen...,[],NaN,"['Environment4 out of 5', 'Safety4 out of 5', ..."
1,4 BHK Flat in Sector 48 Gurgaon,flat,bestech park view city,sector 48,2.65,10323.0,2567.0,Super Built up area 2567(238.48 sq.m.)Carpet a...,4,4,3+,"study room,servant room","1101, Sector 48 Gurgaon, Gurgaon, Haryana",11.0,North-East,5 to 10 Year Old,"['Rapid Metro Sector 56', 'Sapphire Mall', 'Om...",This lovely 4 bhk apartment/flat in sector 48 ...,"['4 Wardrobe', '1 Water Purifier', '8 Fan', '1...","['Centrally Air Conditioned', 'Water purifier'...","['Green Area5 out of 5', 'Construction4 out of..."
2,2 BHK Flat in Sector 85 Gurgaon,flat,ss the leaf,sector 85,1.20,7317.0,1640.0,Super Built up area 1640(152.36 sq.m.)Built Up...,2,2,3,not available,"704, Sector 85 Gurgaon, Gurgaon, Haryana",6.0,North,1 to 5 Year Old,"['Sapphire 83 Mall', 'Dwarka Expressway', 'Cen...",This lovely 2 bhk apartment/flat in sector 85 ...,"['3 Wardrobe', '9 Fan', '1 Exhaust Fan', '3 Ge...","['Water purifier', 'Centrally Air Conditioned'...","['Green Area4.5 out of 5', 'Construction4.5 ou..."
3,3 BHK Flat in Sector 107 Gurgaon,flat,signature global solera,sector 107,0.52,8062.0,645.0,Carpet area: 645 (59.92 sq.m.),3,2,2,others,"Sector 107 Gurgaon, Gurgaon, Haryana",5.0,East,1 to 5 Year Old,"['Gurgaon Dreamz Mall', 'Dwarka Expressway', ""...","Situated in sector 107 gurgaon, signature glob...","['3 Wardrobe', '4 Fan', '6 Light', 'No AC', 'N...","['Intercom Facility', 'Lift(s)', 'Park']","['Green Area4.5 out of 5', 'Construction4.5 ou..."
4,2 BHK Flat in Sohna,flat,signature global park,sohna road,0.54,7248.0,745.0,Carpet area: 745 (69.21 sq.m.),2,1,3,not available,"J-26, Sohna, Gurgaon, Haryana",1.0,NaN,Within 6 months,"['Sector 55-56 metro', 'Global city centre', '...",Park facing property for the unique view,"['1 Modular Kitchen', 'No AC', 'No Bed', 'No C...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Green Area5 out of 5', 'Construction5 out of..."

In [53]:
# drop the irrelevant/redundant columns
df.drop(columns=['property_name', 'address', 'description', 'rating'], inplace=True)
df.sample(5)

,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedrooms,bathrooms,balconies,additional_room,floor_num,facing,age_possession,nearby_locations,furnish_details,features
655,flat,guru gram haryana cghs,sector 56,1.39,8424.0,1650.0,Super Built up area 1850(171.87 sq.m.)Built Up...,3,2,3,"pooja room,servant room",6.0,South,10+ Year Old,"['Sector metro station', 'Sector metro station...","['3 Wardrobe', '5 Fan', '1 Exhaust Fan', '3 Ge...","['Feng Shui / Vaastu Compliant', 'Lift(s)', 'H..."
2675,house,laxmi garden sector-11,sector 11,1.50,12820.0,1170.0,Plot area 130(108.7 sq.m.),12,9,1,"pooja room,study room,servant room,others",3.0,East,1 to 5 Year Old,"['Hanuman Mandir', 'Sharma Hospital Gurgaon', ...","['7 Wardrobe', '9 Fan', '1 Exhaust Fan', '2 Ge...","['Security / Fire Alarm', 'High Ceiling Height..."
3557,flat,umang winter hills,sector 77,1.40,6340.0,2208.0,Built Up area: 1735 (161.19 sq.m.),3,3,3,not available,10.0,North-East,undefined,"['Entertainland Mall', 'Delhi Jaipur Expresswa...","['1 Light', 'No AC', 'No Bed', 'No Chimney', '...","['Lift(s)', 'Maintenance Staff', 'Water Storag..."
58,flat,signature global grand iva,sector 103,0.30,8290.0,362.0,Carpet area: 361.88 (33.62 sq.m.),1,2,2,not available,5.0,NaN,0 to 1 Year Old,"['Dwaraka Expy, Tikampur Village', 'Sector 108...",[],"['Security / Fire Alarm', 'Lift(s)', 'Maintena..."
3700,flat,emaar palm gardens,sector 83,1.55,9011.0,1720.0,Super Built up area 1720(159.79 sq.m.)Built Up...,3,3,3,servant room,4.0,West,1 to 5 Year Old,"[""V'Lante Mall"", 'NH 48 Gurugram', 'iGrow Mont...","['3 Wardrobe', '1 Exhaust Fan', '3 Geyser', '1...","['Centrally Air Conditioned', 'Water purifier'..."

In [54]:
# check for duplicate rows
df.duplicated().sum()

122

In [55]:
# export the dataframe into a csv file
df.to_csv('gurgaon_properties_cleaned.csv', index=False)